<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
     <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css-js/one.css' %}">
    <link rel="stylesheet" href="{% static 'css-js/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css-js/bootstrap.js' %}"> 
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"> 
    
    

    <title>Collage login</title>
</head>
<body>
    {% comment %} background="{% static 'img/bg.jpg' %}" {% endcomment %}
    {% comment %} {%block content%} {%endblock content%} {% endcomment %}
    <header>
        <center>
        <ul>
            <li><a href="#" class="active">HOME</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li id="contact"><a href="accounts/login">LOGIN</a></li>
        </ul>
    </center>
    </header>
    <DIV >
        <center>
            <h1 >-:ATTENDENCE:-</h1>
        </center>
    </DIV>

    
</body>
</html>